<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/authorhome.css}">
    <title>Author Home</title>
</head>

<body>
    <header>
        <section id="header-wrapper">
            <h1 th:text="${userName}+'おかえりなさい'"></h1>

            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="editpersonalinfo.html">個人情報変更</a></li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </section>
        <section id="new-post-wrapper">
        <a th:href="@{/author/home/newpost}" id="new-post">新投稿</a>
    </section>
    </header>

    <main>
        <section id="posts-wrapper">
            <article class="blog-post" th:each="post:${postList}">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3 th:text="${post.postTitle}"></h3>
                <p th:text="${post.postContent}"></p>
                <div class="buttons">
                    <a th:href="@{/author/home/edit/{postId}(postId=${post.postId})}" class="edit-post"> Edit </a>
                   <!-- <a th:href="@{/author/home/delete" class="delete-post" th:text="${post.postId}" ></a> -->
                   <form th:action="@{/author/home/delete}" method="post">
					   	<input type="hidden" name="postId"  th:value="${post.postId}">
						<input type="submit" value="Delete">
					</form>
                </div>
            </article>
        </section>
    </main>
</body>

</html>