<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/authorhome.css}">
    <title>Author Home</title>
</head>

<body>
    <header>
        <section id="header-wrapper">
            <h1 th:text="${userName}+'おかえりなさい'"></h1>

            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="editpersonalinfo.html">個人情報変更</a></li>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </section>
        <section id="new-post-wrapper">
        <a href="newpost.html" id="new-post">新投稿</a>
    </section>
    </header>

    <main>
        <section id="posts-wrapper">
            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>

            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>

            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>

            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>

            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>

            <section class="blog-post">
                <img src="/img/kouenji.jpg" alt="blog-image">
                <h3>投稿タイトル</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <a href="editpost.html" class="edit-post">編集</a>
                    <a href="#" class="delete-post">削除</a>
                </div>
            </section>
        </section>
    </main>
</body>

</html>