<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newpost.css">
    <link rel="stylesheet" href="/css/editpost.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section id="header-wrapper">
            <h1 th:text="${userName}+', おかえりなさい'"></h1>

            <ul>
                <li><a th:href="@{/author/home/list}">ホーム</a></li>
                <li><a th:href="@{/author/home/edituserinfo}">個人情報変更</a></li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </section>
        <section id="new-post-wrapper">
    </section>
    </header>

    <main>
        <h2>Edit post</h2>
        <section id="write-post">
            <form th:action="@{/author/home/update}" method="post" enctype="multipart/form-data" onSubmit="return confirm('Are you sure you wish to save changes?');">
                <label for="post-title">Post title</label>
                <input type="text" name="postTitle" id="" th:value="${postList.postTitle}">
                <!--<label for="post-image">Post image</label>
                <input type="file" name="postImage" id="">-->
                <label for="post-content">Post content</label>
                <textarea name="postContent" id="" cols="105" rows="10" th:text="${postList.postContent}"></textarea>
                <div id="buttons">
					<input type="hidden" name="postId" id="" th:value="${postList.postId}">
                    <input type="submit" value="save" id="save">
                    <input type="submit" value="delete" id="delete" th:formaction="@{/author/home/delete}" onSubmit="return confirm('Are you sure you wish to delete?');">
                </div>
            </form>
        </section>
    </main>
    
    <script src="/js/source.js"></script>
</body>
</html>