<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginregister.css">
    <title>ログイン・登録</title>
</head>
<body>
    <main>
        <section id="wrapper">
            <section id="login">
                <form>
                    <h2>Login</h2>
                    <input type="text" placeholder="username" required>
                    <input type="text" placeholder="password" required>
                    <input type="submit" class="submit-btn" value="Login">
                </form>
                <div class="slider-wrapper">
                    <p>Not a member?</p>
                    <a href="#" class="slider-button" id="register_slide_up" onclick="registerSlideUp()"> Register </a>
                </div>
            </section>

             <section id="register">
                <form>
                    <h2>Register</h2>
                    <input type="text" placeholder="username" required>
                    <input type="text" placeholder="email" required>
                    <input type="password" placeholder="password" required>
                    <input type="password" placeholder="confirm password" required>
                    <input type="submit" class="submit-btn" value="Register">
                </form>
                <div class="slider-wrapper">
                    <a href="#" class="slider-button" id="login_slide_up" onclick="loginSlideUp()"> Login </a>
                </div>    
            </section>
        </section>
    </main>
    <script src="/js/loginregister.js"></script>
</body>
</html>