<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newpost.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section id="header-wrapper">
            <h1 th:text="${userName}+', おかえりなさい'"></h1>

            <ul>
                <li><a th:href="@{/author/home/list}">ホーム</a></li>
                <li><a th:href="@{/author/home/edituserinfo}">個人情報変更</a></li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </section>
        <section id="new-post-wrapper">
    </section>
    </header>

    <main>
        <h2>Create new post</h2>
        <section id="write-post" >
            <form method="post" th:action="@{/author/home/author/newpost/process}" enctype="multipart/form-data">
                <label for="post-title">Post title</label>
                <input type="text" name="postTitle" id="">
                <label for="post-image">Post image</label>
                <input type="file" name="postImage" id="">
                <label for="post-content">Post content</label>
                <textarea name="postContent" id="" cols="105" rows="10"></textarea>
                <div id="buttons">
                    <input type="submit" value="submit" id="submit">
                </div>
            </form>
        </section>
    </main>
    
</body>
</html>