<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/viewpost.css}">
    <title>Document</title>
</head>
<body>
    <header>
        <section id="header-wrapper">
            <a href="index.html"><h1>Blog Title</h1></a>
            <a href="login">Login</a>
        </section>
    </header>

    <main>
        <section id="content">
        <section id="post">
            <h2 th:text="${post.postTitle}"></h2>
            <p class="author" th:text="${author.userName}"></p>
            <p class="post-date" th:text="${post.postDate.toLocalDate()}"></p>
            <ul class="tags">
                <li>tag1</li>
                <li>tag1</li>
            </ul>
            <img th:src="@{/blog-img/{image}(image=${post.postImage})}" alt="post title">
            
            <p th:text="${post.postContent}"></p>

        </section>

        <section id="comments">
            <h4>Comments</h4>
            <section class="comment">
                <ul>
                    <li class="comment-id">#100</li>
                    <li class="comment-date">2023/17/08</li>
                    <li class="comment-content">This is a comment.</li>
                </ul>
            </section>

            <section class="comment">
                <ul>
                    <li class="comment-id">#100</li>
                    <li class="comment-date">2023/17/08</li>
                    <li class="comment-content">This is a comment.</li>
                </ul>
            </section>

            <section class="comment">
                <ul>
                    <li class="comment-id">#100</li>
                    <li class="comment-date">2023/17/08</li>
                    <li class="comment-content">This is a comment.</li>
                </ul>
            </section>
        </section>

        <section id="post-comment">
            <form action="">
                <h4>Post comment</h4>
                <textarea name="" id="" cols="30" rows="10" maxlength="120" placeholder="Write a comment. You only have 120 characters..."></textarea>
                <input type="submit" value="post" id="submit-comment">
            </form>
        </section>
    </section>
    </main>
</body>
</html>