<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/viewpost.css}">
	<title th:text="${post.postTitle}"></title>
</head>

<body>
	<header>
		<section id="header-wrapper">
			<h1>Java Blog CMS</h1>

			<ul>
				<li><a th:href="@{/author/home/list}">Author home</a></li>
				<li><a th:href="@{/login}">Login</a></li>
			</ul>
		</section>
	</header>

	<main>
		<section id="content">
			<section id="post">
				<h2 th:text="${post.postTitle}"></h2>
				<p class="author" th:text="'Author: '+${author.userName}"></p>
				<p class="post-date" th:text="'Post Date: '+${post.postDate.toLocalDate()}"></p>
				<p class="post-date" th:text="'View count: '+${post.visitorCount}"></p>
				<img th:src="@{/blog-img/{image}(image=${post.postImage})}" alt="post title">

				<p th:text="${post.postContent}"></p>

			</section>

			<section id="comments">
				<h4>Comments</h4>
				<section class="comment" th:each="comment:${comments}">
					<ul>
						<li class="comment-id" th:text="${comment.commentId}"></li>
						<li class="comment-date" th:text="${comment.commentDate.toLocalDate()}"></li>
						<li class="comment-content" th:text="${comment.commentContent}"></li>
					</ul>
				</section>


				<section id="post-comment">
					<form method="post" th:action="@{/postcomment}">
						<h4>Post comment</h4>
						<input type="hidden" name="postId" th:value="${post.postId}">
						<textarea name="commentContent" id="" cols="30" rows="10" maxlength="120"
							placeholder="Write a comment. You only have 120 characters..."
							onkeyup="charcountupdate(this.value)"></textarea>
						<p id="charcount">0 out of 120 characters</p>
						<input type="submit" value="post" id="submit-comment">
					</form>
				</section>
			</section>
	</main>
	<script>
		function confirmDelete() {
			console.log("delete");
		}

		function charcountupdate(str) {
			var lng = str.length;
			document.getElementById("charcount").innerHTML = lng + ' out of 120 characters';
		}

	</script>
</body>

</html>